/*
body {
    background-color: #ffffff;
    color: #434455;
    font-family: robotto, sans-serif;
}

.logo {
    color: #2E2F42;
    font-family: raleway, sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.34;
    text-decoration: none;
    text-transform: uppercase;
}

.logo-web {
    color: #4D5AE5;
}

.site-nav a {
    color: #2E2F42;
    font-family: raleway, sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.34;
    text-decoration: none;
    
}

.site-nav a:hover,
.site-nav a:focus {
    color: red;
}

.contacts a:hover,
.contacts a:focus {
    color: red;
}

.site-nav a:active {
    color: teal;
}

.contacts a:active {
    color: teal;
}

.contacts a {
    color: inherit;
}
*/

/* 
основний color: #434455;
другорядний color: #2E2F42;
our team background: #F4F4FD;
герой і футер background: #2E2F42;
*/

body {
    color: #434455;
    background: #FFFFFF;
}

.logo {
    color: #2E2F42;
}

.logo-web {
    color: #4D5AE5;
}

/* Site nav */

.site-nav .link {
    color: #2E2F42;
}

.contacts .link, {
    
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: #434455;
}