:root {
    --primary-brand: #4D5AE5;
    --text: #434455;
    --dark: #2E2F42;
    --light: #F4F4FD;
    --accent: #E7E9FC;
}

body {
    color: var(--text);
    background: #FFFFFF;
}

/* Site nav */

.logo {
    color: var(--text);
}

.logo-web {
    color: var(--primary-brand);
}

.logo-studio {
    color: var(--light);
}

.site-nav .link {
    color:var(--text);
}

.contacts .link {
    color: inherit;
}

.site-nav .link:hover,
.site-nav .link:focus {
    color:var(--text);
}

.site-nav .link:active {
    color: var(--primary-brand);
}

.contacts .link:hover,
.contacts .link:focus {
    color: var(--primary-brand);
}

/* Hero */

.hero-title {
    color: #FFFFFF;
}

/* Advantage */

.section-title {
    color:var(--dark);
}

/* Footer */

.footer-text {
    color: var(--accent);
}

/* Button */

.btn {
    background-color: var(--primary-brand);
    color: #FFFFFF;
    cursor: pointer;
}

.btn.primary {
    background-color: var(--primary-brand);
    color: #FFFFFF;
}

.btn.primary:active {
    background: #404BBF;
}

.btn.secondary {
    background-color: var(--light);
    color: var(--primary-brand);
}

.btn.secondary:hover,
.btn.secondary:focus {
    background-color: var(--primary-brand);
    color: #FFFFFF;
}
